/* Nav Bar CSS */


/* Header CSS */


/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */
#project-pic{
    height:75px;
    width:75px;
    background-color: blue;
}


/* Footer CSS */



/* Button CSS */


