h1{
  font-family: 'Spectral SC', serif;
}
h2{
  font-family: 'Spectral SC', serif;
}
a{
  font-family: 'Vollkorn SC', serif;
  font-size: 24px;
  /*color: white;*/
}
p{
  font-family: 'Noto Serif', serif;
}
/*nav{*/
/*    background-color: black;*/
/*}*/
body{
    background-color: grey;
}