h1 {
  font-family: 'Spectral SC', serif;
}

h2 {
  font-family: 'Spectral SC', serif;
}

a {
  font-family: 'Vollkorn SC', serif;
  font-size: 24px;
  /*color: white;*/
}

p {
  font-family: 'Noto Serif', serif;
}
.about{
  padding: 10px 10px 10px 10px;
}
.portfolio{
  padding: 10px 10px 50px 50px;
}
.contact{
  padding: 50px 10px 50px 10px;
}